{% extends 'base.html' %} {% load static %} {% block content %}

<main>
    {% include "home/index/slider.html" %}
    <!--  -->
    {% include "home/index/top_deals.html" %}
    <!--  -->
    {% include "home/index/featured_prods.html" %}
    <!--  -->
    {% include "home/index/banner.html" %}
    <!--  -->
    {% include "home/index/trending_prods.html" %}
    <!--  -->
    {% include "home/index/trending_multi_prods.html" %}
    <!--  -->
    {% include "home/index/moving_txt.html" %}
    <!--  -->
    {% include "home/index/blog.html" %}
    <!--  -->
    {% include "home/index/brands.html" %}
    <!--  -->
    {% include "home/index/cart_preview.html" %}
</main>

{% endblock content %}
