{% load static %}

<!-- blog-area-start -->
<div class="blog-area pt-55 pb-75">
    <div class="container 0">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">From The Blog</h5>
                    </div>
                    <div class="button-wrap button-wrap-2">
                        <a href="{% static 'blog.html' %}">See All Product <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image blog-image-2 w-img">
                            <a href="{% static 'blog-details.html' %}"><img src="{% static 'assets/img/blog/sm-b-1.jpg' %}" alt="" /></a>
                        </div>
                        <div class="blog-tag">
                            <a href="{% static 'blog.html' %}">Digital</a>
                        </div>
                    </div>
                    <div class="smblog-content smblog-content-2">
                        <h6><a href="{% static 'blog-details.html' %}">How mobile phones have changed people’s lives in the world</a></h6>
                        <span class="author mb-10">posted by <a href="#">Adlop</a></span>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="{% static 'blog-details.html' %}"> Read More <span class="icon"></span></a>
                            </div>
                            <div class="post-date">
                                <a href="{% static 'blog-details.html' %}">Jan 24, 2022</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image blog-image-2 w-img">
                            <a href="{% static 'blog-details.html' %}"><img src="{% static 'assets/img/blog/sm-b-2.jpg' %}" alt="" /></a>
                        </div>
                        <div class="blog-tag">
                            <a href="{% static 'blog.html' %}">New</a>
                        </div>
                    </div>
                    <div class="smblog-content smblog-content-2">
                        <h6><a href="{% static 'blog-details.html' %}">Top 5 Best Digital Cameras for 2021 You Should Buy</a></h6>
                        <span class="author mb-10">posted by <a href="#">Angelia</a></span>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="{% static 'blog-details.html' %}">Read More <span class="icon"></span></a>
                            </div>
                            <div class="post-date">
                                <a href="{% static 'blog-details.html' %}">Jan 24, 2022</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image blog-image-2 w-img">
                            <a href="{% static 'blog-details.html' %}"><img src="{% static 'assets/img/blog/sm-b-3.jpg' %}" alt="" /></a>
                        </div>
                        <div class="blog-tag">
                            <a href="{% static 'blog.html' %}">Update</a>
                        </div>
                    </div>
                    <div class="smblog-content smblog-content-2">
                        <h6><a href="{% static 'blog-details.html' %}">Capture the moment with 4 cameras on Oppo A92</a></h6>
                        <span class="author mb-10">posted by <a href="#">Iqbal</a></span>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="{% static 'blog-details.html' %}"> Read More <span class="icon"></span></a>
                            </div>
                            <div class="post-date">
                                <a href="{% static 'blog-details.html' %}">Jan 24, 2022</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image blog-image-2 w-img">
                            <a href="{% static 'blog-details.html' %}"><img src="{% static 'assets/img/blog/sm-b-4.jpg' %}" alt="" /></a>
                        </div>
                        <div class="blog-tag">
                            <a href="{% static 'blog.html' %}">Offer</a>
                        </div>
                    </div>
                    <div class="smblog-content smblog-content-2">
                        <h6><a href="{% static 'blog-details.html' %}">Use Headphones Properly Not To Damage Your Hearing</a></h6>
                        <span class="author mb-10">posted by <a href="#">Jenny</a></span>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="{% static 'blog-details.html' %}"> Read More <span class="icon"></span></a>
                            </div>
                            <div class="post-date">
                                <a href="{% static 'blog-details.html' %}">Jan 24, 2022</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area-end -->
