{% load static %}

<!-- featured-start -->
<section class="featured light-bg-s pt-50 pb-40">
    <div class="container 0">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">Top Featured Products</h5>
                    </div>
                    <div class="button-wrap button-wrap-2">
                        <a href="{% static 'product.html' %}">See All Product <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="single-features-item single-features-item-d b-radius-2 mb-20">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-6">
                            <div class="features-thum">
                                <div class="features-product-image w-img">
                                    <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fpsm-2.jpg' %}" alt="" /></a>
                                </div>
                                <div class="product-action product-action-2">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product__content product__content-d product__content-d-2">
                                <h6><a href="{% static 'product-details.html' %}">Samsang Galaxy A70 128GB Dual-SIM</a></h6>
                                <div class="rating mb-5">
                                    <ul class="rating-d">
                                        <li>
                                            <a href="#"><i class="fal fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fal fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fal fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fal fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fal fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price d-price mb-10">
                                    <span>$307.00 <del>$110</del></span>
                                </div>
                                <div class="features-des mb-25">
                                    <ul>
                                        <li>
                                            <a href="{% static 'product-details.html' %}"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'product-details.html' %}"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'product-details.html' %}"><i class="fas fa-circle"></i> Memory, Storage &amp; SIM: 12GB RAM, 256GB.</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'product-details.html' %}"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart-option">
                                    <a href="{% static 'cart.html' %}" class="cart-btn-4 w-100 mr-10">Add to Cart</a>
                                    <a href="{% static 'cart.html' %}" class="transperant-btn-2"><i class="fal fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-1.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-15%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Epple Watch SE Gold Aluminum</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$307.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-2.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-5%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">G951s Pink Stereo Gaming Headset</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$210.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-3.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Solo3 Wireless On-Ear Headphones</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$160.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-6.jpg' %}" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Men’s Short-Sleeve Pocket Oxford Shirt</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$280.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- featured-end -->
