{% load static %}

<!-- doubale-product-area-start -->
<div class="doubale-product-area light-bg-s pt-20 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Hot Trending Products</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="{% static 'product.html' %}">See All <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-2.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-5%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">G951s Pink Stereo Gaming Headset</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$210.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-3.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Solo3 Wireless On-Ear Headphones</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$160.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-6.jpg' %}" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Men’s Short-Sleeve Pocket Oxford Shirt</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$280.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">On-sale Products</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="{% static 'product.html' %}">See All <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-7.jpg' %}" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">OnePlus Nord N100 64GB, 4GB RAM</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$245.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-8.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Smartwatch with Heart Rate 256bpm</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$130.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-9.jpg' %}" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Samsang Galaxy A21S 4GB Ram, 128Gb</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$180.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Top Rate Products</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="{% static 'product.html' %}">See All <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-10.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-5%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">Apple iPhone XR 64GB Red Dual-SIM</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price d-price">
                                            <span>$165.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-11.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">-25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">MW65 Wireless Headphones Z1000</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$130.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-features-item b-radius-2 mb-20">
                            <div class="row g-0 align-items-center">
                                <div class="col-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{% static 'product-details.html' %}"><img src="{% static 'assets/img/features-product/fp-12.jpg' %}" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="product__content product__content-d product__content-d-2">
                                        <h6><a href="{% static 'product-details.html' %}">All-new Fire HD 10 Tablet 10.1″ Full HD</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>$140.00 <del>$110</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- doubale-product-area-end -->
