{% load static %}

<!-- header-start -->
<header class="header d-blue-bg">
    <div class="header-top">
        <div class="container 0">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="header-inner-start">
                            <div class="header__currency border-right">
                                <div class="s-name">
                                    <span>Language: </span>
                                </div>
                                <select>
                                    <option>English</option>
                                    <option>Deutsch</option>
                                    <option>Français</option>
                                    <option>Espanol</option>
                                </select>
                            </div>
                            <div class="header__lang border-right">
                                <div class="s-name">
                                    <span>Currency: </span>
                                </div>
                                <select>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>INR</option>
                                    <option>BDT</option>
                                    <option>BGD</option>
                                </select>
                            </div>
                            <div class="support d-none d-sm-block">
                                <p>Need Help? <a href="{% static 'tel:+001123456789' %}">+001 123 456 789</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                        <div class="header-inner-end text-md-end">
                            <div class="ovic-menu-wrapper ovic-menu-wrapper-2">
                                <ul>
                                    <li><a href="{% static 'about.html' %}">About Us</a></li>
                                    <li><a href="{% static 'contact.html' %}">Order Tracking</a></li>
                                    <li><a href="{% static 'contact.html' %}">Contact Us</a></li>
                                    <li><a href="{% static 'faq.html' %}">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 col-md-4 col-sm-4">
                        <div class="header__info header__info-2">
                            <div class="logo logo-3">
                                <a href="{% static 'index.html' %}" class="logo-image"><img src="{% static 'assets/refurr/logo/refurr.png' %}" alt="logo" /></a>
                            </div>
                            {% comment %}
                            <div class="side-menu">
                                <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                    {% comment %} d-none d-lg-block {% endcomment %}
                    <div class="col-xl-6 col-lg-6 header__info-3">
                        <div class="header__search">
                            <form action="#">
                                <div class="header__search-box">
                                    <input class="search-input search-input-2" type="text" placeholder="I'm shopping for..." />
                                    <button class="button button-2 button-3" type="submit"><i class="far fa-search"></i></button>
                                </div>
                                <div class="header__search-cat">
                                    <select>
                                        <option>All Categories</option>
                                        <option>Best Seller Products</option>
                                        <option>Top 10 Offers</option>
                                        <option>New Arrivals</option>
                                        <option>Phones &amp; Tablets</option>
                                        <option>Electronics &amp; Digital</option>
                                        <option>Fashion &amp; Clothings</option>
                                        <option>Jewelry &amp; Watches</option>
                                        <option>Health &amp; Beauty</option>
                                        <option>Sound &amp; Speakers</option>
                                        <option>TV &amp; Audio</option>
                                        <option>Computers</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="side-menu">
                            <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                        <div class="header-action">
                            <div class="block-userlink">
                                <a class="icon-link icon-link-2" href="{% static 'my-account.html' %}">
                                    <i class="flaticon-user"></i>
                                    <span class="text">
                                        <span class="sub">Login </span>
                                        My Account
                                    </span>
                                </a>
                            </div>
                            <div class="block-wishlist action">
                                <a class="icon-link icon-link-2" href="{% static 'wishlist.html' %}">
                                    <i class="flaticon-heart"></i>
                                    <span class="count count-2">0</span>
                                    <span class="text">
                                        <span class="sub">Favorite</span>
                                        My Wishlist
                                    </span>
                                </a>
                            </div>
                            <div class="block-cart action">
                                <a class="icon-link icon-link-2" href="{% static 'cart.html' %}">
                                    <i class="flaticon-shopping-bag"></i>
                                    <span class="count count-2">1</span>
                                    <span class="text">
                                        <span class="sub">Your Cart:</span>
                                        $00.00
                                    </span>
                                </a>
                                <div class="cart">
                                    <div class="cart__mini">
                                        <ul>
                                            <li>
                                                <div class="cart__title">
                                                    <h4>Your Cart</h4>
                                                    <span>(1 Item in Cart)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cart__item d-flex justify-content-between align-items-center">
                                                    <div class="cart__inner d-flex">
                                                        <div class="cart__thumb">
                                                            <a href="{% static 'product-details.html' %}">
                                                                <img src="{% static 'assets/img/cart/20.jpg' %}" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart__details">
                                                            <h6><a href="{% static 'product-details.html' %}"> Samsung C49J89: £875, Debenhams Plus </a></h6>
                                                            <div class="cart__price">
                                                                <span>$255.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart__del">
                                                        <a href="#"><i class="fal fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cart__sub d-flex justify-content-between align-items-center">
                                                    <h6>Subtotal</h6>
                                                    <span class="cart__sub-total">$255.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="{% static 'cart.html' %}" class="wc-cart mb-10">View cart</a>
                                                <a href="{% static 'checkout.html' %}" class="wc-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom d-none d-lg-block" id="header-sticky">
        <div class="container">
            <div class="box-items-inner pt-10 pb-10">
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-desktop"></i>
                        Laptop <br />
                        & Computer
                    </a>
                </div>
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-mobile"></i>
                        Tablets <br />
                        & Mobile Phones
                    </a>
                </div>
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-router"></i>
                        Digitals <br />
                        & Electronics
                    </a>
                </div>
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-webcam"></i>
                        Camera <br />
                        & Accesories
                    </a>
                </div>
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-bed-alt"></i>
                        Decor <br />
                        & Furniture
                    </a>
                </div>
                <div class="box-item">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-tshirt"></i>
                        Fashion <br />
                        & Clotheing
                    </a>
                </div>
                <div class="box-item d-lg-none">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-hat-chef"></i>
                        Garden <br />
                        & Home Kitchen
                    </a>
                </div>
                <div class="box-item d-lg-none d-xl-block">
                    <a href="{% static 'shop.html' %}">
                        <i class="fal fa-speaker"></i>
                        Audio <br />
                        & Headphones
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
